WIFI_SSID = WIFI_NAME
WIFI_PASSWORD=WIFI_PASSWORD
 
BACKEND_HOST= use ipconfig getifaddr en0 (mac) | ipconfig(ipv4 adress) windows
BACKEND_PORT=8000
 
NODE_ID=NODE_0<node_number>
 
APP_HOST=0.0.0.0
APP_PORT=8000
NODE_TIMEOUT_SECONDS=5