annotated-doc==0.0.5
appdirs==1.4.4
atomicwrites==1.4.0
cffi==2.1.0
curl_cffi==0.15.0
fastapi==0.141.1
jsonpointer==2.1
multitasking==0.0.13
peewee==4.2.6
pyasn1-modules==0.2.8
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
pyls-spyder==0.4.0
setuptools==72.1.0
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.52.4
websockets==16.1.1
wheel==0.45.1
yfinance==1.5.1